*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.eggs/
.install.stamp
convertit/downloads/
convertit/converted/
include/
lib/
share/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Packaging
/.pybuild/
/debian/convertit/
/debian/.debhelper/
/debian/files
/debian/convertit.debhelper.log
/debian/convertit.postinst.debhelper
/debian/convertit.prerm.debhelper
/debian/convertit.substvars
/debian/convertit.postrm.debhelper
/debian/debhelper-build-stamp

# Tests
/convertit/tests/data/tmp/
src/convertit/tests/data/converted_dir/
src/convertit/tests/data/download_dir/

# IDE
/.vscode/
