Source: convertit
Maintainer: Makina Corpus <geobi@makina-corpus.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 9),
 git,
 ca-certificates
Standards-Version: 3.9.6
Homepage: https://github.com/makinacorpus/convertit

Package: convertit
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libmagic1 | libmagic1t64,
 inkscape,
 libreoffice,
 default-jre,
 libreoffice-java-common
Description: A file conversion Web API in Pyramid
 Convertit is a format conversion webservice.
 .
 Retrieve your document in an other format ! The input file is converted and served back !
 Using a dead simple ``GET`` request, documents are pulled. Using ``POST`` request, it takes the attachment.
 .
 Supported conversions:
 .
 - odt -> pdf
 - odt -> doc
 - ods -> xls
 - csv -> ods
 - csv -> xls
 - svg -> pdf
 - svg -> png
 .
 Previously converted documents are cleaned along the way (on each request).

