[Unit]
Description=Format conversion webservice
After=network.target

[Service]
ExecStart=/usr/bin/gunicorn3 --paste=/etc/convertit/convertit.ini --bind=127.0.0.1:6543
RuntimeDirectory=convertit
Restart=on-failure
User=convertit
Group=convertit
UMask=007

[Install]
WantedBy=multi-user.target
